:root {
  --profile-text-gray: #5c6873;
  --text-color-black37: rgb(0, 19, 37);
  --primary-background-black: black;
  --primary-background: white;
  --secondary-background: rgb(243, 243, 243);
  --primary-text-white: white;
  --primary-text-black: #001325;
  --beauty-text-gray: #3f414d;
  --primary-text-black92: rgba(0, 19, 37, 0.92);
  --primary-text-black64: rgba(0, 19, 37, 0.64);
  --nav-items2-text: rgba(3, 2, 26, 0.6);
  --font-path-text: rgb(136, 136, 136);
  --home-gray-text: #5c6873;
  --footer-des-text: #3f3f51;
  --discount-text: rgb(118, 146, 173);
  --bottom-border: rgba(0, 19, 37, 0.08);
  --addres-header-border: lightgray;
  --new-address-hover: rgba(232, 0, 113, 0.08);
  --new-address-border: rgb(232, 0, 113);
  --address-slider-gray: #ccc;
  --address-shipping-btn: #f3f4f5;
  --ah-red: rgb(203, 33, 33);
  --home-carouse-item-border: rgb(236, 233, 233);
  --btn-pink: rgb(232, 0, 112);
  --btn-text-white: #fff;
  --home-carousel-item-border: rgba(0, 0, 0, 0.16);
  --nav-a: rgb(61, 54, 54);
  --search-background: rgb(238, 235, 235);
  --search-input: #eeebeb;
  --nav-box-shadow: #0000003d;
  --nav-header-nav-border: rgb(211, 207, 207);
  --nav-header-bottom-border: #d9d3d3;
  --nav2-a: rgb(139, 133, 133);
  --dropdown-background: #f1f1f1;
  --dropdown-dropdown: rgba(0, 0, 0, 0.2);
  --dropdown-gray: #ddd;
  --payment-header-border: lightgray;
  --black: black;
  --white: white;
  --payment-secure: #f9fafa;
  --payment-tab: #f1f1f1;
  --payment-tab-btn-hover: #ddd;
  --payment-tab-active: rgb(232, 0, 113);
  --gray: gray;
  --payment-input-bg: #f3f4f5;
  --payment-cardnumber-warning: rgb(203, 33, 33);
  --red: red;
  --home-carouse-item-border: rgb(236, 233, 233);
  --btn-pink: rgb(232, 0, 112);
  --btn-text-white: #fff;
  --primary-text-black: #001325;
  --primary-background: white;
  --footer-playstore: #3f414d;
  --footer-lastdiv: red;
  --footer-theblack: black;
  --footer-layer: #fc2779;
  --nyka-featre: rgba(101, 119, 134, 0.08);
  --product-page: #f3f3f3;
  --product-container: rgba(0, 0, 0, 0.1);
  --pd-container: rgba(0, 0, 0, 0.05);
  --delivary-options: rgba(101, 119, 134, 0.22);
  --addtoBag: #ffffff;
  --pincode-div: rgba(0, 19, 37, 0.72);
  --boder-b: #eeeeee;
  --product-price: #008945;
  --pd-prcie-line: #001325;
  --rating-review: #e8e7e7;
  --Bathchild2Box-boxshadow: rgba(100, 100, 111, 0.2);
  --Bathcartbtn-color: #fc2779;
  --Page-clour-black: black;
  --Pagination-hover: rgba(0, 0, 0, 0.12);
  --Pagination-hover1: rgba(0, 0, 0, 0.24);
  --Bath-Prference: grey;
  --Bc1-item-text: #333;
  --bc1-checkbox-border: #c0c0c0;
  --bc1-list-background: #e7edfe;
  --home-carouse-item-border: rgb(236, 233, 233);
  --btn-pink: rgb(232, 0, 112);
  --btn-text-white: #fff;
  --primary-text-black: #001325;
  --form-background: rgb(243, 244, 245);
  --form-input-border: rgba(0, 19, 37, 0.16);
  --hr-left-border: #ebdddd;
  --sign-up-google-box-grayv: #ffffff40;
  --sign-up-google: #32325d40;
  --sign-up-google-box: #0000004d;
  --home-carouse-item-border: rgb(236, 233, 233);
  --btn-pink: rgb(232, 0, 112);
  --btn-text-white: #fff;
  --primary-text-black: #001325;
  --sign-up-shadow: #0000003d;
  --form-input: rgb(243, 244, 245);
  --form-input-border: rgba(0, 19, 37, 0.16);
  --eye-color: rgb(156 156 156);
  --hr-left-border: #ebdddd;
  --sign-up-google: #32325d40;
  --sign-up-google-box: #0000004d;
  --sign-up-google-box-grayv: #ffffff40;
  --order-black: black;
  --trackorder-blue: rgb(10, 147, 168);
  --status-yellow: #ef9e27;
  --paydiv-white: rgb(230, 225, 225);
  --box-black: rgba(0, 0, 0, 0.35);
  --box-black2: rgba(99, 99, 99, 0.2);
  --black-back: black;
  --gray-text: rgb(140, 141, 148);
  --grey: rgb(128, 128, 128);
  --box-shad: rgb(99 99 99 / 20%);
  --box-black: black;
  --profile-border: rgb(231, 229, 229);
  --black-bb: black;
  --black-m: rgb(51, 50, 50);
  --black-a: rgb(43, 42, 42);
  --box1: rgba(14, 30, 37, 0.12);
  --box2: rgba(14, 30, 37, 0.32);
  --log-bor: rgb(199, 196, 196);
  --breadc: #0275d8;
  --breadch: #01447e;
  --home-carouse-item-border: rgb(236, 233, 233);
  --btn-pink: rgb(232, 0, 112);
  --btn-text-white: #fff;
  --primary-text-black: #001325;
  --otp-shadow: rgb(0 0 0 / 24%);
  --otp-input-border: #c3c3c300;
  --otp-input-caret: hsl(0, 0%, 100%);
  --otp-input-background: #f6f5fa;
  --sidebar-width: 390px;
  --btn-text-white: #fff;
  --grey-gg: rgba(180, 183, 201, 0.4);
  --grey-bb: rgba(202, 197, 197, 0.685);
  --grey-cc: #666;
  --grey-bggh: #eceff0;
  --grey-box-g: #999;
  --btn-text-white: var(--primary-background);
}
.dark-modeOld {
  --primary-background: rgb(66, 66, 66);
  --primary-text-white: black;
  --primary-text-black: white;
  --primary-text-black92: white;
  --primary-text-black64: white;
  --beauty-text-gray: #bec1d4;
  --nav-items2-text: rgba(193, 192, 212, 0.6);
  --home-gray-text: #c1cdd8;
  --footer-des-text: #d5d5e7;
}

.dark-mode {
  --profile-text-gray: #a6a6a6;

  --text-color-black37: rgb(255, 255, 255);

  --primary-background-black: white;

  --primary-background: #303030;

  --secondary-background: #212121;

  --primary-text-white: white;

  --primary-text-black: #ffffff;

  --beauty-text-gray: #d0d0d0;

  --primary-text-black92: rgba(255, 255, 255, 0.92);

  --primary-text-black64: rgba(255, 255, 255, 0.64);

  --nav-items2-text: rgba(255, 255, 255, 0.6);

  --font-path-text: #888888;

  --home-gray-text: #a6a6a6;

  --footer-des-text: #b8b8b8;

  --discount-text: #6c6c6c;

  --bottom-border: rgba(255, 255, 255, 0.08);

  --addres-header-border: #444444;

  --new-address-hover: rgba(232, 0, 113, 0.32);

  --new-address-border: rgb(232, 0, 113);

  --address-slider-gray: #333333;

  --address-shipping-btn: #212121;

  --ah-red: rgb(203, 33, 33);

  --home-carouse-item-border: rgb(44, 44, 44);

  --btn-pink: rgb(232, 0, 112);

  --btn-text-white: #fff;

  --home-carousel-item-border: rgba(255, 255, 255, 0.16);

  --nav-a: rgb(199, 199, 199);

  --search-background: #424242;

  --search-input: #333333;

  --nav-box-shadow: #0000003d;

  --nav-header-nav-border: #444444;

  --nav-header-bottom-border: #444444;

  --nav2-a: rgb(199, 199, 199);

  --dropdown-background: #424242;
  --dropdown-dropdown: rgba(255, 255, 255, 0.2);

  --dropdown-gray: #333333;

  --payment-header-border: #444444;

  --black: black;

  --white: white;

  --payment-secure: #212121;

  --payment-tab: #212121;

  --payment-tab-btn-hover: #424242;

  --payment-tab-active: rgb(232, 0, 113);

  --gray: gray;

  --payment-input-bg: #424242;

  --payment-cardnumber-warning: rgb(203, 33, 33);

  --red: red;

  --home-carouse-item-border: #212121;

  --btn-pink: rgb(232, 0, 112);

  --btn-text-white: #fff;

  --primary-text-black: #f9f9f9;

  --primary-background: #212121;

  --footer-playstore: #f9f9f9;

  --footer-lastdiv: red;

  --footer-theblack: black;

  --footer-layer: #fc2779;

  --nyka-featre: rgba(255, 255, 255, 0.08);

  --product-page: #212121;

  --product-container: rgba(255, 255, 255, 0.1);

  --pd-container: rgba(255, 255, 255, 0.05);

  --delivary-options: rgba(255, 255, 255, 0.22);

  --addtoBag: #ffffff;

  --pincode-div: rgba(255, 255, 255, 0.72);

  --boder-b: #444444;

  --product-price: #008945;

  --pd-prcie-line: #f9f9f9;

  --rating-review: #444444;

  --Bathchild2Box-boxshadow: rgba(100, 100, 111, 0.8);
  /* --Bathcartbtn-color: #ffffff; */
  --Page-clour-black: white;
  --Pagination-hover: rgba(255, 255, 255, 0.12);
  --Pagination-hover1: rgba(255, 255, 255, 0.24);
  --Bath-Prference: white;
  --Bc1-item-text: #ffffff;
  --bc1-checkbox-border: #ffffff;
  --bc1-list-background: #333333;
  --home-carouse-item-border: #303030;
  --btn-pink: #ffffff;
  --btn-text-white: #303030;
  --primary-text-black: #ffffff;
  --form-background: #303030;
  --form-input-border: rgba(255, 255, 255, 0.16);
  --hr-left-border: #303030;
  --sign-up-google-box-grayv: #00000040;
  --sign-up-google: #ffffff40;
  --sign-up-google-box: #ffffff4d;
  --home-carouse-item-border: #303030;
  --btn-pink: #ffffff;
  --btn-text-white: #303030;
  --primary-text-black: #ffffff;
  --sign-up-shadow: #ffffff3d;
  --form-input: #303030;
  --form-input-border: rgba(255, 255, 255, 0.16);
  --eye-color: #ffffff;
  --hr-left-border: #303030;
  --sign-up-google: #ffffff40;
  --sign-up-google-box: #ffffff4d;
  --sign-up-google-box-grayv: #00000040;
  --order-black: white;
  --trackorder-blue: rgb(104, 101, 170);
  --status-yellow: #a36f10;
  --paydiv-white: rgb(29, 31, 33);
  --box-black: rgba(255, 255, 255, 0.35);
  --box-black2: rgba(255, 255, 255, 0.2);
  --black-back: white;
  --gray-text: rgb(199, 196, 196);
  --grey: rgb(77, 77, 77);
  --box-shad: rgb(255, 255, 255 / 20%);
  --box-black: white;
  --profile-border: rgb(29, 31, 33);
  --black-bb: white;
  --black-m: rgb(204, 204, 204);
  --black-a: rgb(212, 212, 212);
  --box1: rgba(245, 245, 245, 0.12);
  --box2: rgba(245, 245, 245, 0.32);
  --log-bor: rgb(51, 50, 50);
  --breadc: #d2e3fc;
  --breadch: #bfd7ff;
  --home-carouse-item-border: rgb(29, 31, 33);
  --btn-pink: rgb(178, 55, 122);
  --btn-text-white: #000;
  --primary-text-black: #f6f5fa;
  --otp-shadow: rgb(255, 255, 255 / 24%);
  --otp-input-border: #3c3c3c00;
  --otp-input-caret: hsl(0, 0%, 0%);
  --otp-input-background: #2f2e2e;
  --sidebar-width: 390px;
  --btn-text-white: #000;
  --grey-gg: rgba(49, 51, 53, 0.4);
  --grey-bb: rgba(53, 53, 53, 0.685);
  --grey-cc: #999;
  --grey-bggh: #1e1e1e;
  --grey-box-g: #333;
  --btn-text-white: var(--secondary-background);
}
