#header {
  display: flex;
  border-bottom: 1px solid lightgray;
  height: 4.065rem;
}
#location {
  display: inline-flex;
  padding-right: 8%;
  margin: auto;
}
.modules {
  display: flex;
  gap: 1.5rem;
  width: 200px;
}
.rightcollapseIcon {
  display: flex;
  float: right;
  align-items: center;
}

.rightcollapseIcon img {
  float: right;
}
.module-img {
  width: 16%;
}
.header-logo {
  width: 60%;
  margin-left:3.125rem;
  margin-top: .9rem;
}
.header-hr {
  -webkit-transform: rotate(90deg);
  color: black;
  opacity: 10%;
  height: 100%;
  margin: auto;
}


#content {
  display: flex;
  justify-content: space-around;
  height: 1000px;
}

.collapse-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
  border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 19, 37, 0.08);
    border-top: none;
}

.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 19, 37, 0.08);
}
.col1 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.col2 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.collapsible:after {
  /* content: '\002B'; */
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

#details-section {
  width: 30%;
  
}
#address-text-section {
  width: 55%;
  position: relative;
  left: 6%;
  overflow: scroll;
}
#address-text {
  width: 90%;
  padding-top: 20px;
}
.scroll{
  box-sizing: border-box;
  overflow: scroll;
}
#details {
  width: 80%;
  margin: auto;
  float: left;
 
  /* position: relative; */
}
#details > img {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.spanelemright {
  float: right;
}
.cartitem {
  height: 300px;
  overflow-y: scroll;
}
.cart-item-parent {
  position: relative;
  height: 160px;
  /* width: 85%; */
  margin: 15px 0;
  padding: 0px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
#secure {
  display: flex;
  background-color: #f9fafa;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  gap: 10px;
  width: 100%;
  margin: auto;
}

.payment-method-h2{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 19, 37, 0.92);
  position: relative;
  top: 50px;
}

/* Style the tab */
.tab {
  float: left;
  border: none;
  background-color: #f1f1f1;
  width: 46%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  top: 50px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.2s;
  /* height: 76px; */
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: white;
  border-color: currentcolor currentcolor currentcolor rgb(232, 0, 113);
  border-style: none none none solid;
  border-width: medium medium medium 4px;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid rgba(0, 19, 37, 0.08);
  width: 50%;
  height: 500px;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
  box-sizing: border-box;
  position: relative;
  top: 50px;
}
.tab-button {
  display: flex;
  margin: auto;
}
.tab-button-img {
  width: 20%;
  margin: auto;
}

.tab-button-text h3{
 font-size: 1rem;
}
.tab-button-text p {
  font-size: 0.875rem;
}

.tab-button-text {
  width: 80%;
  margin: auto;
  margin-left: -40px;
}
.tablinks {
  width: 20%;
  margin: auto;
}
#firsttab {
  border-top-left-radius: 20px;
}
#lasttab {
  border-bottom-left-radius: 20px;
}
/* removing step from number tag */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#upi-logos {
  display: flex;
  /* width: 100%; */
  height: 140px;
  text-align: center;
  justify-content: center;
}
#upi-logos > div {
  position: relative;
  width: 24%;
}
#upi-logos > div > div {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#upi-logos img {
  border: 1px solid gray;
  border-radius: 40px;
  padding: 5px;
  /* width: 100%; */
}

#upi-logos img:hover {
  border: 2px solid rgb(232, 0, 113);
}

#upi * {
  margin: 10px;
}
.payment-verify-btn {
  display: flex;
  flex-direction: row;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  padding: 12px;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1px;
  border-color: rgb(232, 0, 113);
  background-color: rgb(232, 0, 113);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  /* box-sizing: border-box; */
}
.input-details {
  background: rgb(243, 244, 245);
  border-color: currentcolor currentcolor rgba(0, 19, 37, 0.16);
  border-style: none none solid;
  border-width: 0px 0px 1px;
  border-radius: 8px;
  color: rgba(0, 19, 37, 0.92);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  padding: 16px;
  transition: border-color 0.2s ease 0s;
  width: 100%;
  caret-color: rgb(232, 0, 113);
  box-sizing: border-box;
}
.checkbox-payment {
  margin: 0px;
  padding: 0px;
  background-color: rgb(63, 65, 77);
  box-sizing: border-box;
}
#credit * {
  margin: 10px auto;
  
}

#credit > :nth-child(2) {
  display: flex;
  margin: 0;
  width: 69%;
  cursor: pointer;
}
#credit > :nth-child(4) {
  display: flex; display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}


#know-more>input[type="checkbox"] {
  margin: 0 .5rem 0 .2rem;
  font-size: 20px;
}
#know-more> p{
  margin: 0;
}

#know-more a {
  text-decoration: none;
}


.month-cvv {
  display: flex;
  gap: 10px;
}
.month-cvv input {
  width: 50%;
  text-align: center;
}
.Section-hr {
  color: rgba(0, 19, 37, 0.08);
}
#upi-logos:hover {
  cursor: pointer;
}
#upi-logos img:focus {
  border: 2px solid red;
}
.netbanking-checkbox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}
#netbanking * {
  margin: 15px 0 0 0;
}
#netbanking button {
  text-align: center;
}

#shopnow * {
  margin-top: 12px;
}
.snpl-content {
  display: flex;
  gap: 10px;
}
.snpl-content > div p {
  margin-top: -15px;
  color: red;
}
#cod * {
  margin: 20px 0 0 0;
}
#cod > button {
  box-sizing: border-box;
  width: 100%;
}
#paytm * {
  margin-top: 12px;
}
#giftcard * {
  margin-top: 12px;
}
#giftcard-pin {
  display: flex;
  gap: 10px;
}
#giftcard-pin > input {
  width: 30%;
}
#giftcard-pin > button {
  width: 70%;
}
#emi * {
  margin-top: 10px;
}



/* form validation css  */
#cardnumber-warn, .payment-warning{
  color: rgb(203, 33, 33);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  position: relative;
  top: -2px;
  margin: 0;
}

.payment-warning:first-of-type{
  top: 18px;
}

#month-warning{
  position: relative;
    top: -30px;
    left: -30px;
    width: 60%;
}

#cvv-warning{
  position: relative;
    top: -30px;
    right: 0px;
}

.mtyr{
  display: flex;
  position: relative;
  /* left: 25px; */
  height: 20px;
  text-align: center;
  justify-content: center;
}

.hide,.hide1,.hide2{
  display: none;
}




