.font-fam {
    font-family: Inter, Roboto, Arial, sans-serif;
}

/* Google font links  */
/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300&display=swap" rel="stylesheet"> */


/* Beauty book page */

.beauty-nav-titles{
    font-size: 14px;
    font-family: SourceSansPro,sans-serif;
    color: #3f414d;
}

.beauty-pink-title {
    font-family: SourceSansPro,sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #fc2779;
}

.beauty-hey-gorgeous {
    /* similar */
    font-family: 'Dancing Script', cursive;
    /* <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet"> */
    font-size: 38px;
    font-weight: 400;
}


.beauty-section-heading{
    font-family: BebasNeue,sans-serif;
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3f414d;
    text-transform: uppercase;
}
