.orderbox {
  width: 80%;
  margin-left: 2.4rem;
  margin-top: 2rem;
}
.profileList {
  width: 20%;
}
.orderheading {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  background-color: white;
}
.orderheading i {
  margin: 0 1rem;
  font-size: 1rem;
}
.orderdiv {
  text-align: center;
  background-color: white;
  margin-top: 0.2rem;
  border-radius: 5px;
}
.orderdiv i {
  font-size: 3rem;
  /* color: rgb(230, 225, 225); */
  margin-top: 2rem;
}
.orderdiv h6 {
  color: #fc2779;
  margin-top: -1rem;
  padding-bottom: 6rem;
}

#orderedItem button {
  height: 2rem;
  margin-top: 2rem;
  margin-left: 1rem;
}
.trackorder {
  display: flex;
  background-color: white;
}

#pdf-download{
  position: relative;
  bottom: 28px;
  left: 59px;
  cursor: pointer;
  width: 13%;
  height: 23px;
}

#pdf-download>button{
  background-color: black;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.trackorder div {
  height: 100%;
  margin: 0 1rem;
  position: relative;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 12px;
  bottom: 1rem;
  left: 2rem;
}
.trackorder div:nth-child(2) {
  background-color: #fc2779;
  color: white;
  font-weight: 600;
  position: relative;
  left: 21rem;  
}
.trackorder div:nth-child(1) {
  color: rgb(10, 147, 168);
  font-weight: 600;
}
.cancleorder {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}
.cancleorder > div {
  margin: 0 4rem;
}
.cancleorder div button {
  padding: 1rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  background-color: #fc2779;
  color: white;
  margin-bottom: 12px;
}
.order {
  margin-top: 15px;
}
.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 95%;
}

.imgdiv > img {
  width: 50%;
  padding: 20px;
}
.namediv {
  text-align: left;
}
.status > p {
  text-align: center;
  margin-top: 40px;
  margin-bottom: -20px;
  margin-left: -45px;
}
.status > h3 {
  color: #ef9e27;
}
.titlename {
  font-size: 14px !important;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-transform: capitalize;
  color: rgb(61, 54, 54);
}
.featuredtxt {
  color: #fc2779 !important;
  font-weight: 300;
  font-size: 14px;
}
.transist {
  color: rgb(10, 147, 168) !important;
  font-weight: 600;
  margin-left: -30px;
}

#footer {
  top: 100px;
}

@media only screen and (max-width: 1000px) {
  .profile {
    display: block !important;
    flex-direction: column;
    width: 100%;
  }
  .profileList {
    width: 90%;
  }
  .orderbox {
    width: 90%;
    margin: auto;
  }
}
