@import "/theme_fonts/theme.css";
:root {
  --home-carouse-item-border: rgb(236, 233, 233);
  --btn-pink: rgb(232, 0, 112);
  --btn-text-white: #fff;
}
body {
  overflow-x: hidden;
}
.home-main-div {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
.home-section-best-in-beauty {
}
.home-top-offer-carousel {
  padding-top: 20px;
}
.carousel-container {
  width: 100%;
  margin: auto;
  border-radius: 10px;

  overflow: hidden;
  position: relative;
}
.carousel-slide {
  width: 120%;
  display: inline-flex;
}

.carousel-slide img {
  width: 100%;
  border-radius: 10px;
}
#prevBtn {
  transform: initial;
  height: 56px;
  width: 56px;
  top: 45%;
  content: "";
  display: inline-block;
  position: absolute;
  border: 0px;
  cursor: pointer;
  z-index: 2;
  background: url(https://images-static.nykaa.com/uploads/45d5a7b6-86eb-4850-9568-4d6ed91731fe.svg)
    no-repeat;
  right: 8px;
}
#nextBtn {
  transform: initial;
  height: 56px;
  width: 56px;
  top: 45%;
  content: "";
  display: inline-block;
  position: absolute;
  border: 0px;
  cursor: pointer;
  z-index: 2;
  background: url(https://images-static.nykaa.com/uploads/3df01759-af0c-4d81-b2f7-f61577ac3807.svg)
    no-repeat;
  left: 8px;
}

.home-main-div {
  overflow: hidden;
}
.home-payday-image > img {
  width: 100%;
  border-radius: 10px;
}
.home-flat-off > img {
  width: 100%;
  border-radius: 10px;
}
/* ? Items css */
.home-section-top-brands-items,
.home-section-only-at-nykaa-items,
.home-section-featured-brands-items,
.home-section-below-featured-brands-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.home-section-featured-brands-items {
  grid-template-columns: repeat(5, 1fr);
  margin-top: 5px;
}
.home-section-editor-choice-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 5px;
  gap: 20px;
}
.home-carousel-item {
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
  /* border: 1px solid var(--home-carouse-item-border); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.home-carousel-item > div:first-child > img {
  width: 100%;
}
.home-carousel-item > div:nth-child(2) {
  padding: 0px 30px;
}
.home-carousel-item > div:nth-child(2) > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.home-carousel-item > div:nth-child(2) > p:first-child {
  margin-bottom: -15px;
  margin-top: 10px;
}

.home-section-try-buy-carousel {
  margin: 40px 0;
}
.home-section-discover-fav-trending > img {
  width: 100%;
  border-radius: 10px;
}
.home-section-discover-fav-carousel {
  margin: 40px 0;
}
.home-section-below-featured-brands {
  margin: 40px 0;
}
.home-section-everyday-essentials-crazy > img {
  width: 100%;
  border-radius: 10px;
}
.home-section-everyday-essentials-carousel {
  /* height: 300px; */
  /* background-color: coral; */
  margin: 40px 0;
}
.home-section-in-focus-items,
.home-section-gifting-nykaa-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.home-section-in-focus-items > img,
.home-section-gifting-nykaa-items > img {
  display: block;
  width: 100%;
  border-radius: 10px;
}
.home-section-brand-miss-carousel {
  margin-bottom: 20px;
}
.home-section-influencers-carousel {
}
.home-section-buying-guides-carousel {
}
.home-section-buying-btn {
  display: flex;
  padding: 5px;
  width: 100%;
  background-color: var(--btn-pink);
  border: none;
  border-radius: 10px;
  margin: 20px auto;
  align-items: center;
  color: var(--btn-text-white);
}
.home-section-buying-btn > span:first-child {
  text-align: center;
  margin: 0 0 0 auto;
  font-size: large;
}
.home-section-buying-btn > span:nth-child(2) {
  font-size: 34px;
  margin: 0 auto 4px 6px;
}
.home-section-game-zone-items > img {
  width: 100%;
  border-radius: 10px;
}
.home-section-discover-more-carousel {
}
.home-section-beauty-advice-items,
.home-section-pop-up-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.home-section-beauty-advice-items {
  margin-bottom: 40px;
}
.home-section-pop-up-carousel {
  margin: 40px 0;
}
.home-section-only-at-nykaa-items > div:nth-child(4) {
  grid-column: 2;
}
.home-section-featured-brands-items > div:nth-child(6) {
  grid-column: 2;
}
.home-carousel-item-regular {
  pointer-events: all;
  cursor: pointer;
}
.home-carousel-item-regular > * {
  pointer-events: none;
}
.home-section-buying-btn > * {
  pointer-events: none;
}
.carousel-moving-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.carousel-btns {
  transform: initial;
  height: 56px;
  width: 56px;
  top: 45%;
  content: "";
  display: inline-block;
  position: absolute;
  border: 0px;
  cursor: pointer;
  z-index: 2;
}
.carousel-left-btn {
  background: url(https://images-static.nykaa.com/uploads/3df01759-af0c-4d81-b2f7-f61577ac3807.svg)
    no-repeat;
  left: 8px;
}
.carousel-right-btn {
  background: url(https://images-static.nykaa.com/uploads/45d5a7b6-86eb-4850-9568-4d6ed91731fe.svg)
    no-repeat;
  right: 8px;
}
.carouser-scroll-container {
  width: 100%;
  margin: auto;
  padding: 5px;
  margin-left: 0px;
  transition: margin 0.5s ease-in-out;
}
.carouser-scroll-container > div {
  display: grid;
  grid-template-columns: repeat(20, 300px);
  gap: 20px;
  transition: all 500ms;
}

@media screen and (max-width: 912px) {
  .home-section-top-brands-items,
  .home-section-only-at-nykaa-items,
  .home-section-featured-brands-items,
  .home-section-below-featured-brands-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .home-section-featured-brands-items {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5px;
  }
  .home-section-editor-choice-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5px;
    gap: 20px;
  }
  .home-section-editor-choice-items > div:nth-child(4) {
    grid-column: 2;
  }
  .home-section-only-at-nykaa-items > div:nth-child(4) {
    grid-column: initial;
  }
  .home-section-featured-brands-items > div:nth-child(6) {
    grid-column: initial;
  }
}
@media screen and (max-width: 540px) {
  .home-section-top-brands-items,
  .home-section-only-at-nykaa-items,
  .home-section-featured-brands-items,
  .home-section-below-featured-brands-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .home-section-featured-brands-items {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5px;
  }
  .home-section-editor-choice-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5px;
    gap: 20px;
  }
  .home-section-editor-choice-items > div:nth-child(4) {
    grid-column: 2;
  }
  .home-section-only-at-nykaa-items > div:nth-child(4) {
    grid-column: initial;
  }
  .home-section-featured-brands-items > div:nth-child(6) {
    grid-column: initial;
  }
  .home-section-beauty-advice-items,
  .home-section-pop-up-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .home-section-in-focus-items,
  .home-section-gifting-nykaa-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
