#header
{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}   
#location
{
    display: inline-flex;
    gap: 20px;
    margin: auto;
}
.modules
{
    display: flex;
    gap: 20px;
    width:200px
}
.module-img
{
    width: 16%;
}
.header-logo
{
    width: 60%;
    margin-left: 50px;
    margin-top: 10px;
}
.header-hr
{
    -webkit-transform:rotate(90deg);
    color: black;
    opacity: 10%;
    height: 100%;
    margin: auto;
}
#content
{
    display: flex;
    justify-content: space-around;

}
#addnewaddress
{
display: grid;
   text-align: center;
   padding: 10px;
   border: 1px dotted red;
   border-radius: 10px;
   width: 80%;
   margin-top: 40px;
   
}
.collapse-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
    
  }
  
  .collapsible{
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    

  }
  .col1
{
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;  
}

.col2
{
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;  
}
  .collapsible:after {
    /* content: '\002B'; */
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
   
  }
  

  #details-section{
    width: 50%;
    
  }
  #address-text-section{
    width: 50%; 
  }
  #address-text{
    width: 50%;
    margin: auto;
  }
  #details{
    width: 45%;
    margin: auto;
    /* position: relative; */
  }
  #details>img{
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
 .spanelemright
  {
    float: right;
  }
  .cartitem
  {
    height: 150px;
  }
  #secure
  {
    display: flex;
    background-color: #f9fafa;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    gap: 10px;
    width: 100%;
    margin: auto;
  }