body{
    font-family: sans-serif;
    background: rgb(231, 229, 229);
}
.profile .profileList{
    display:flex;
    flex-direction: column;
    width: 14rem;
    margin-top: 2rem;
}

.profileList li{
    display:flex;
    width:100%;
    border: 1px solid rgb(231, 229, 229);
    background:white;
    margin-left: 0rem;
}
.DisPageName{
    display: inline-block;
    margin: auto;
    margin-left: 4rem;
}
.DisPageName a{
    text-decoration: none;
    color: black;
}
.profileList li a{
    display:flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    color: rgb(51, 50, 50);
}
.profileList li :hover{
    color:#fc2779;
}
.profile{
    display:flex;
    flex-direction: row;
    margin-right:5rem;
    /* flex-wrap: wrap; */
}
.profile a{
    text-decoration: none;
    color: rgb(43, 42, 42);
}
.profile i{
    font-size: .7rem;
}
.popup{
    background-color: white;
    width: 17rem;
    text-align: center;
    padding: 1rem;
    position: absolute;
    left: 50%;
    top:0%;
    transform: translate(-50%,-50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.5s ,top 0.5s;
}
.popback{
    top:50%;
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
    transition: transform 0.7s ,bottom 0.5s;
}
.popup li{
    display: block;
    border: 1px solid rgb(231, 229, 229);
    height: 2.5rem;
    padding-top: 1rem;
}
.popup ul{
    width:100%;
    align-items: center;
    justify-content: center;
    margin-left: -2.4rem;
    border:#fc2779;
    color: #fc2779;
}
.profilebox{
    display: flex;
    margin: auto;
    background-color: white;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 2rem;
}
.profileback{
    width: 70%;
    background-image: url("https://www.freecodecamp.org/news/content/images/2021/06/w-qjCHPZbeXCQ-unsplash.jpg");
    margin: 2rem;
    margin-left: 1rem;
}
.profileimg{
    width: 30%;
    display: flex;
    margin:auto;
}
.profiledetail{
    width: 55%;
}
.address{
    width:100%;
    background-color: white;
    margin-top: 4%;
    height: 25rem;
}
.addresshead{
    display:flex;
    justify-content: space-between;
    margin: 0 5%;
    padding-top: 8%;
}
.addressbox{
    margin: 5%;
    height:50%;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media only screen and (max-width: 1000px) {
    .profile{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .profile .profileList{
        width:93%;
        box-sizing: border-box;
    }
    .profileback{
        width:93%;
        margin-top: 1rem;
        background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
    }
    .DisPageName{
        margin-left: 4%;
        margin-top: 2%;
    }
  }
  @media only screen and (max-width: 700px) {
      .profile{
          align-items: left;
      }
    .profilebox{
        display:grid;
        grid-template-columns: repeat(1,90%);
        align-items: center;
        justify-content: center;
    }
    .profileimg{
        width:100%;
        margin-left: 1rem;
    }
    .profiledetail{
        margin-top: rem;
        width:100%;
        text-align: center;
    }
    .profileback{
        background-image: url("https://img.freepik.com/free-photo/top-view-background-beautiful-white-grey-brown-cream-blue-background_140725-72219.jpg?w=2000");
    }
  }