@import "../theme_fonts/theme.css";
:root {
  --sidebar-width: 390px;
  --btn-text-white: #fff;
}
.cart-sidebar-view {
  display: flex;
  position: fixed;
  right: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  top: 0;
  pointer-events: none;
  z-index: 10;
}
.cart-sidebar {
  position: relative;
  top: 50px;
  width: 0px;
  pointer-events: auto;
  margin: 0;
  height: 90%;
  transition: all 250ms;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}
.coupon-sidebar {
  position: absolute;
  width: 0px;
  pointer-events: auto;
  margin: 0;
  height: 100%;
  right: 0;
  transition: all 250ms;
  background-color: var(--primary-background);
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
}
.coupon-sidebar-back-arrow {
  margin-bottom: -4px;
  margin-right: 5px;
}
.sidebar-dim-overlay {
  background-color: transparent;
  flex-grow: 1;
  margin: 0;
  pointer-events: none;
}
body {
  margin: 0;
  padding: 0;
}
.show-sidebar {
  width: var(--sidebar-width);
}
.sidebar-dim-overlay-enable {
  background-color: rgba(180, 183, 201, 0.4);
  pointer-events: all;
}
/* ? cart-sidebar specific classes */

.cart-sidebar__header {
  position: fixed;
  top: 0;
  width: var(--sidebar-width);
  height: 50px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
  border-bottom: 1px solid rgba(202, 197, 197, 0.685);
}
.cart-sidebar__header > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-sidebar-all-items,
.address-sidebar-all-items {
  display: relative;
  width: var(--sidebar-width);
}

.cart-sidebar__footer {
  position: fixed;
  bottom: 0;
  width: var(--sidebar-width);
  height: 60px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
  border-top: 1px solid rgba(202, 197, 197, 0.685);
}
.cart-sidebar__grand-total__div {
  height: 60px;
  width: 40%;
  box-sizing: border-box;
}

.cart-sidebar__grand-total {
  margin: 10px 0px -5px 0px;
}
.cart-sidebar__grand-total_disp {
  display: flex;
  align-items: center;
}
.cart-proceed-btn {
  padding: 5px 12px 8px 18px;
  color: white;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: rgb(232, 0, 113);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
/* ? scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  /* background: rgba(136, 136, 136, 0.103); */
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(232, 0, 113);
}
/* ? Item css */
.sidebar-item-parent {
  position: relative;
  height: 160px;
  /* width: 85%; */
  margin: 15px auto;
  padding: 0px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.sidebar-item-flip {
  transform: rotateY(-180deg);
}
.sidebar-item {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 20px;
  right: 20px;
  width: 85%;
  margin: 15px auto;
  border-radius: 10px;
  /* height: 130px; */
  backface-visibility: hidden;
  border: 1px solid var(--bottom-border);
}
.sidebar-item-delete {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 20px;
  right: 20px;
  width: 85%;
  transform: rotateY(180deg);
  margin: 15px auto;
  border-radius: 10px;
  backface-visibility: hidden;
  height: 140px;
  border: 1px solid var(--bottom-border);
  text-align: center;
}
.sidebar-item-delete > p:first-of-type {
  margin-top: 0px;
  pointer-events: none;
}
.sidebar-item-delete > div:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px 0px 0px 5px;
  z-index: 100;
  pointer-events: all;
}
.sidebar-item-delete > div:first-of-type > img {
  pointer-events: none;
}
.sidebar-item-removeAction *,
.sidebar-item-wishlistAction * {
  pointer-events: none;
}
.sidebar-item-delete > p:nth-child(3) {
  margin-top: 20px;
}
.sidebar-item-delete > div:nth-child(4) {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.sidebar-item-delete > div:nth-child(4) > * {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--bottom-border);
  padding: 10px 10px;
  margin: 5px auto;
  width: 40%;
  border-radius: 8px;
}
.sidebar-item-delete > div:nth-child(4) > * > * {
  text-align: center;
  display: block;
  margin: auto;
}
.sidebar-item-removeAction > span {
  color: rgb(232, 0, 113);
}
.sidebar-item-wishlistAction {
  background-color: rgb(232, 0, 113);
  color: var(--btn-text-white);
}
.sidebar-item-wishlistAction > span {
  color: var(--primary-background);
}
.sidebar-item-top {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--bottom-border);
  padding-bottom: 5px;
}
.sidebar-item-img-sec {
  margin-right: 10px;
}
.sidebar-item-img-sec > img {
  border-radius: 10px;
  width: 90px;
}
.sidebar-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -5px;
}
.sidebar-item-quantity-sec * {
  display: flex;
  align-items: center;
}
.sidebar-item-text-sec {
  margin-right: auto;
}
.sidebar-item__delete-icon > img {
  width: 20px;
  margin-left: auto;
  pointer-events: none;
}
.sidebar-item-price-sec {
  display: flex;
  align-items: center;
  gap: 5px;
}
.sidebar-coupon {
  display: flex;
  padding: 0 10px;
  width: 85%;
  margin: 35px auto 15px auto;
  border-radius: 10px;
  border: 1px solid var(--bottom-border);
  justify-content: space-between;
}
.sidebar-coupon-logo,
.sidebar-coupon-arrow {
  display: flex;
  align-items: center;
}
.sidebar-coupon-logo > img,
.sidebar-coupon-arrow > img {
  width: 100%;
}
.sidebar-price-details {
  border-radius: 10px;
  width: 85%;
  padding: 0 10px;
  margin: 5px auto 35px auto;
  border: 1px solid var(--bottom-border);
}
.sidebar-price-details > div {
  display: flex;
  padding: 0 20px;
  border-radius: 10px;
  justify-content: space-between;
}
/* ? coupon body */
.coupon-input {
  width: 85%;
  margin: 60px auto;
  background-color: #eceff0;
  border-radius: 10px;
  box-shadow: 0 2px 0 0 #999;
  padding: 8px 10px;
  display: flex;
}
.coupon-input:focus-within {
  box-shadow: 0 2px 0 0 #fc2779;
}
.coupon-apply {
  display: flex;
  align-items: center;
  font-size: large;
  color: #999;
}
.coupon-apply:hover {
  color: #fc2779;
  cursor: pointer;
}
#coupon-input-field {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px;
  font-size: medium;
}
::placeholder {
  color: #999;
}
#coupon-input-field,
#coupon-input-field:focus {
  border: 0;
  outline: none;
  background-color: transparent;
}
.coupon-body-img {
  width: 85%;
  margin: auto;
}
.coupon-body-img > img {
  width: 100%;
  min-width: 350px;
}
/* todo Extra classes for demo purposes Delete */

.fa-bag-shopping {
  font-size: 500px;
}
.cart-btn {
  text-align: center;
  border: none;
  background-color: transparent;
}
.demo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media screen and (max-width: 912px) {
  :root {
    --sidebar-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  :root {
    --sidebar-width: 100%;
  }
  .cart-sidebar-view {
    width: 100%;
  }
}
