@import "../theme_fonts/fonts.css";
#nav0 {
  background-image: url(https://static.vecteezy.com/system/resources/previews/001/410/432/original/pink-fluid-dynamic-abstract-background-free-vector.jpg);
  height: 3rem;
  margin-left: -0.6rem;
}
.nav-header {
  width: 100%;
  height: 7rem;
  background-color: transparent;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  /* border-bottom: 0.1px solid rgb(177, 175, 175); */
}

/* #nav1 ul,
#nav2 ul {
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 6rem;
} */
#nav1 {
  display: flex;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  margin: auto;
}
#nav1 > ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

#nav1 > ul:first-child > li > img {
  width: 6rem;
}

#nav1 li a,
#nav2 li a {
  text-decoration: none;
  color: rgb(61, 54, 54);
}

#nav1 li,
#nav2 li {
  display: block;
  margin: auto;
}

.search {
  display: flex;
  align-items: center;
  margin-left: 3.5%;
  margin-right: 20px;
}

.nav-header > #nav1 {
  /* display: flex; */
  /* background-color: #fff; */
}

.search > button {
  height: 42px;
  border: none;
  background-color: rgb(238, 235, 235);
}

.search > input {
  height: 40px;
  border: none;
  background-color: rgb(238, 235, 235);
  /* margin-left: 2rem; */
}

.search > .sign {
  background-color: #fc2779;
  border: none;
  margin-left: 1rem;
  color: white;
  height: 60%;
  border-radius: 0.313rem;
  padding: 0.5rem 0.875rem;
  width: 80px;
}

.search > span {
  margin-left: 4rem;
  margin-right: 10px;
  color: #fc2779;
}

.nav-header > #nav2 {
  display: flex;
  border-bottom: 0.1px solid rgb(211, 207, 207);
  background-color: white;
  margin-top: -0.13rem;
  position: relative;
  transition: transform 6s;
}
#nav2.sticky {
  margin-top: -150px;
  background-color: #fff;
  z-index: -1;
  transition: transform 6s;
}
#nav2 {
  display: flex;
  width: 100%;
  margin: auto;
}
#nav2 > ul {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  gap: 10px;
}
.iconNav {
  display: none !important;
  margin: 0 auto;
  height: 60px;
  padding: 30px 40px 0px 40px;
  gap: 0;
}
#nav2 img {
  /* height: 1.25rem; */
  width: 40px;
  position: relative;
}

#nav2 ul > li > a {
  text-decoration: none;
  color: rgb(139, 133, 133);
  /* position: relative; */
}
#nav1 ul li a img {
  width: 30px;
}
.dropbtn {
  margin-top: 20px;
  width: 30px;
  height: 30px;
}
.dropbtn > img {
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1080px) {
  #nav2,
  .fullNav,
  .search {
    display: none !important;
  }
  .iconNav {
    display: flex !important;
  }
  .dropbtn {
    margin-right: 100px;
    margin-top: 45px;
  }
}
@media screen and (max-width: 600px) {
  #nav2,
  .fullNav,
  .search {
    display: none !important;
  }
  .iconNav {
    display: flex !important;
  }
  .dropbtn {
    margin-right: 60px;
    margin-top: 45px;
  }
  .iconNav {
    display: flex !important;
    padding: 30px 10px 40px 30px !important;
  }
}
