@import "../theme_fonts/fonts.css";
#nav0 {
  background-image: url(https://static.vecteezy.com/system/resources/previews/001/410/432/original/pink-fluid-dynamic-abstract-background-free-vector.jpg);
  height: 3rem;
  margin-left: -0.6rem;
}
.nav-header {
  width: 100%;
  height: 7rem;
  background-color: transparent;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  /* border-bottom: 0.1px solid rgb(177, 175, 175); */
}
#white-sides {
  width: 100%;
  height: 62px;
  position: fixed;
  top: 0;
  z-index: -1;
  background-color: white;
}
.cartItemNumText {
  position: absolute;
  margin-left: 442px;
  margin-bottom: 26px;
  border-radius: 50%;
  background-color: #fc2779;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* #nav1 ul,
#nav2 ul {
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 6rem;
} */

#nav1 {
  display: flex;
  width: 80%;
  height: 62px;
  background-color: white;
  margin: auto;
  padding-right: 3%;
}
#nav1 > ul {
  display: flex;
  padding: 0 11% 0 0;
  width: 100%;
}

#nav1 > ul:first-child > li > img {
  width: 5rem;
  cursor: pointer;
}

#nav1 li a,
#nav2 li a {
  text-decoration: none;
  color: rgb(61, 54, 54);
}

#nav1 li,
#nav2 li {
  display: block;
  margin: auto;
}
#nav1 li > a:hover,
#nav2 li > a:hover {
  color: #fc2779;
}

.search {
  display: flex;
  align-items: center;
}

.search > button {
  height: 41px;
  border: none;
  background-color: rgb(238, 235, 235);
  width: 44px;
}

.search > input[type="text"] {
  height: 39px;
  background-color: #eeebeb;
  border: none;
}

.search > .sign {
  background-color: #fc2779;
  border: none;
  margin-left: 1rem;
  color: white;
  height: 60%;
  border-radius: 0.313rem;
  padding: 0.5rem 0.875rem;
  width: 80px;
  display: none;
}

.search > span {
  margin-left: 4rem;
  margin-right: 10px;
  color: #fc2779;
}

.nav-header > #nav2 {
  display: flex;
  border-bottom: 0.1px solid rgb(211, 207, 207);
  background-color: white;
  margin-top: -0.13rem;
  position: relative;
  padding-top: 6px;
  height: 43px;
  box-sizing: border-box;
  border-top: 1px solid #d9d3d3;
  transition: transform 6s;
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px;
}
#nav2.sticky {
  margin-top: -150px;
  background-color: #fff;
  z-index: -1;
  transition: transform 6s;
}
#nav2 {
  display: flex;
  width: 100%;
  margin: auto;
}
#nav2 > ul {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  gap: 10px;
}
.iconNav {
  display: none !important;
  margin: 0 auto;
  height: 60px;
  padding: 30px 40px 0px 40px;
  gap: 0;
}
#nav2 img {
  width: 82px;
  position: relative;
}

#nav2 ul > li > a {
  text-decoration: none;
  color: rgb(139, 133, 133);
}
#nav1 ul li a img {
  width: 30px;
}

.search-icon {
  font-size: 1.3rem;
  font-weight: 400;
}

.dropdown {
  width: 170px;
}

.nav-bar-signupbtn {
  background-color: #fc2779 !important;
  width: 120px !important;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: white;
  border-radius: 15px;
}
.dropbtn {
  display: flex;
  width: 170px;
  height: 30px;
  align-items: center;
}

.dropbtn > img {
  position: relative;
  /* top: 4px; */
}
.dropbtn span {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .dropbtn > img {
  width: 100%;
} */

.search > input[type="text"] {
  margin-right: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: #fc2779;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1200px) {
  #nav1 li,
  #nav2 li {
    display: block;
    margin: auto;
    margin-left: 16px;
    font-size: 11px;
  }
}

@media screen and (max-width: 1080px) {
  #nav2,
  .fullNav,
  .search {
    display: none !important;
  }
  .iconNav {
    display: flex !important;
  }
  .dropbtn {
    margin-right: 100px;
    margin-top: 45px;
  }
  .iconNav {
    padding-left: 100px;
  }
  #nav1 > ul {
    padding: 0 0 0 0px;
    width: 120%;
    margin-right: -17px;
  }
  #nav1 > ul > li:first-child {
    margin-right: 18px;
  }
}

@media screen and (max-width: 600px) {
  #nav2,
  .fullNav,
  .search {
    display: none !important;
  }
  .iconNav {
    display: flex !important;
  }
  .dropbtn {
    margin-right: 60px;
    margin-top: 45px;
  }
  .iconNav {
    display: flex !important;
    padding: 30px 10px 40px 30px !important;
  }
  #white-sides,
  #nav1 {
    height: 80px;
  }
  .iconNav {
    margin-top: -20px;
  }
}
