@import "/theme_fonts/theme.css";
:root {
  --home-carouse-item-border: rgb(236, 233, 233);
  --btn-pink: rgb(232, 0, 112);
  --btn-text-white: #fff;
  --primary-text-black: #001325;
}
body
{
  background-image: url("./Images/low-poly-grid-haikei.svg");
}
.sign-up-body {
  margin: 0;
  font-family: inter, Roboto, Arial, sans-serif;
  padding-top: 50px;
}

.sign-up-body > form > img {
  width: 100px;
  height: 50px;
  margin: auto;
  display: block;
}

#sign-up-form {
  display: grid;
  grid-template-columns: 1fr;
  width: 25%;
  padding: 10px 25px 15px;
  box-sizing: border-box;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  margin: auto;
  margin-top: 100px;
  height: 500px;
  border-radius: 20px;
  background-color: white;
}

#sign-up-form > h1 {
  font-size: 1.3rem;
  margin: 0;
}

.eye-icon {
  position: relative;
  bottom: 35px;
  left: 96%;
  cursor: pointer;
  width: 19px;
  height: 18px;
  color: rgb(156 156 156);
  font-size: 0.9rem;
}

.hide-icon {
  display: none;
}

#sign-up-form input {
  background: rgb(243, 244, 245);
  border-color: currentcolor currentcolor rgba(0, 19, 37, 0.16);
  border-style: none none solid;
  border-width: 0px 0px 1px;
  /* border-image: none 100% / 1 / 0 stretch; */
  border-radius: 8px;
  /* color: rgba(0, 19, 37, 0.92); */
  font-size: 16px;
  font-weight: 400;
  /* line-height: 24px; */
  /* letter-spacing: 0px; */
  /* outline: 0px; */
  height: 30px;
  padding: 10px 0 10px 10px;
  transition: border-color 0.2s ease 0s;
  width: 100%;
  /* margin: auto; */
  caret-color: rgb(232, 0, 113);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#sign-up-form input[type="submit"] {
  background-color: #fc2779;
  color: white;
  border: none;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

#sign-up-form input[type="submit"]:hover {
  background-color: #e71364;
  color: white;
  border: none;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

.hr-left {
  height: 0px;
  width: 30.5%;
  position: relative;
  top: 29px;
  right: 97px;
  border: 1px solid #ebdddd;
}

.hr-right {
  height: 0px;
  width: 30.5%;
  position: relative;
  left: 94px;
  bottom: 12px;
  border: 1px solid #ebdddd;
}

.sign-up-or {
  text-align: center;
  margin: 0;
  height: 20px;
  position: relative;
  top: 10px;
  display: inline-block;
}

.sign-up-google-btn {
  background-color: white;
  height: 44px;
  border-radius: 10px;
  position: relative;
  border: none;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  cursor: pointer;
}

.sign-up-google-btn:hover {
  box-shadow: rgba(255, 255, 255, 0.25) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}

.sign-up-google-btn img {
  margin-right: 10px;
  margin-top: 0px;
  position: relative;
  top: 5px;
}
.sign-up-google-btn p {
  display: inline-block;
}

.sign-up-already-ac {
  position: relative;
  font-size: 14px;
}

.already-ac {
  color: var(--btn-pink);
  font-weight: 600;
  cursor: pointer;
}

.sign-up-body a {
  text-decoration: none;
}

/* form validation  */
.signup-warning {
  color: var(--btn-pink);
  height: 16px;
  width: 100%;
  font-size: 0.7rem;
  font-weight: 600;
  position: relative;
  top: 6px;
}

/* popup  */

.pop-up-alert-view {
  display: flex;
  height: 100vh;
  justify-content: center;
  font-family: inter, Roboto, Arial, sans-serif;
}
.pop-up-alert {
  position: fixed;
  height: 50px;
  width: 200px;
  bottom: 0;
  margin-bottom: -100px;
  border-radius: 10px;
  background-color: #fc2779;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  padding: 10px;
}
.pop-up-alert > p {
  padding: 10px;
}
.pop {
  animation-name: example;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

@keyframes example {
  0% {
    margin-bottom: -100px;
  }
  40% {
    margin-bottom: 100px;
  }
  60% {
    margin-bottom: 100px;
  }
  100% {
    margin-bottom: -100px;
  }
}

/* responsive  */
@media screen and (max-width: 1024px) {
  #sign-up-form {
    width: 39%;
  }
}

@media screen and (max-width: 768px) {
  #sign-up-form {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #sign-up-form {
    width: 50%;
  }

  .sign-up-already-ac {
    font-size: 12px;
  }
}

@media screen and (max-width: 560px) {
  #sign-up-form {
    width: 85%;
  }
}
